@model BlogCategoryViewModel

<form asp-controller="BlogPost" asp-action="Create" method="post">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input class="form-control" id="title" asp-for="@Model.Title">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" asp-for="@Model.Description"></textarea>
    </div>
    <div class="mb-3">
        <label for="categories" class="form-label"></label>
        <select id="categories" asp-for="@Model.CategoryIds" multiple>
            @foreach (var category in Model.AllCategories)
            {
                <option value="@category.Id">@category.Name</option>
            }
        </select>
    </div>
    <div class="mb-3">
        <label for="tags" class="form-label"></label>
        <select id="tags" asp-for="@Model.TagIds" multiple>
            @foreach (var tag in Model.AllTags)
            {
                <option value="@tag.Id">@tag.Name</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-dark">Submit</button>
</form>
